.wholechild{
    display: flex;
}

.sort-part-child {
    width: 20%;
    background-color: black;
    color: #fff;
    height: 116vh;
}

.child-data{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 2rem;
    text-align: center;
}

@media screen and (max-width: 870px) {
    .child-data{
        grid-template-columns: repeat(2, 1fr);
    }
}