.wholemens{
    display: flex;
}

.sort-part {
    width: 20%;
    background-color: black;
    color: #fff;
    height: 115vh;
}

.mens-data{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 2rem;
    text-align: center;
}

.setcategories{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 12px;
}

@media screen and (max-width: 870px) {
    .mens-data{
        grid-template-columns: repeat(2, 1fr);
    }

    .setcategories{
        grid-template-columns: repeat(1, 1fr);
    }
}