.wholewomens{
    display: flex;
}

.sort-part-womens {
    width: 23%;
    background-color: black;
    color: #fff;
    height: 115vh;
}

.womens-data{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 2rem;
    text-align: center;
}

@media screen and (max-width: 870px) {
    .womens-data{
        grid-template-columns: repeat(2, 1fr);
    }
}