.top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
    text-align: center;
}

@media screen and (max-width: 1270px) and (min-width: 751px) {
    .top{
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media screen and (max-width: 750px) and (min-width: 300px) {
    .top{
        grid-template-columns: repeat(2,1fr);
    }
}